<a href="https://colab.research.google.com/github/amanullahshah32/NLP-with-SpaCy/blob/main/NLP_Basic/Bag_of_Words_(BOW).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
spam_csv = 'https://raw.githubusercontent.com/codebasics/nlp-tutorials/refs/heads/main/9_bag_of_words/spam.csv'
df = pd.read_csv(spam_csv)
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [3]:
df.Category.value_counts()

Category
ham     4825
spam     747
Name: count, dtype: int64

In [5]:
df['spam'] = df['Category'].apply(lambda x: 1 if x == 'spam' else 0 )

In [6]:
df.shape

(5572, 3)

## Train Test Split

In [7]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df.Message, df.spam, test_size = 0.2)

In [8]:
X_train.shape

(4457,)

In [11]:
X_train

1856    K.:)you are the only girl waiting in reception...
1505                           Oh my God. I'm almost home
2325                                              Ok lor.
3677    Hey r ü still online? I've finished the format...
4470    Nothing, smsing u n xy lor. Sorry lor da guys ...
                              ...
596                              I am great! How are you?
4678                 Wewa is 130. Iriver 255. All 128 mb.
2330    Am surfing online store. For offers do you wan...
2997    They released vday shirts and when u put it on...
5197    I like cheap! But i‘m happy to splash out on t...
Name: Message, Length: 4457, dtype: object

In [9]:
X_test.shape

(1115,)

In [14]:
X_train[:4]

1856    K.:)you are the only girl waiting in reception...
1505                           Oh my God. I'm almost home
2325                                              Ok lor.
3677    Hey r ü still online? I've finished the format...
Name: Message, dtype: object

In [16]:
y_train[:5]

1856    0
1505    0
2325    0
3677    0
4470    0
Name: spam, dtype: int64

In [17]:
y_train.value_counts()

spam
0    3868
1     589
Name: count, dtype: int64

## Create bag of words representation using CountVector

In [18]:
from sklearn.feature_extraction.text import CountVectorizer
v = CountVectorizer()

X_train_count_vec = v.fit_transform(X_train.values)
X_train_count_vec

<4457x7755 sparse matrix of type '<class 'numpy.int64'>'
	with 58816 stored elements in Compressed Sparse Row format>

In [19]:
X_train.values

array(['K.:)you are the only girl waiting in reception ah?',
       "Oh my God. I'm almost home", 'Ok lor.', ...,
       'Am surfing online store. For offers do you want to buy any thing.',
       'They released vday shirts and when u put it on it makes your bottom half naked instead of those white underwear.',
       'I like cheap! But i‘m happy to splash out on the wine if it makes you feel better..'],
      dtype=object)

### Example of Bag of Words

In [23]:
X_train_2 = ["I love NLP", "NLP is great"]
trying = v.fit_transform(X_train_2)
print(trying)

  (0, 2)	1
  (0, 3)	1
  (1, 3)	1
  (1, 1)	1
  (1, 0)	1